.pic1{
    text-align: center;
    font-size:  48px;
}
.p1{
    background-color: aqua;
    color: palevioletred;
    
}
.p11{
    background-color: firebrick;
    color: cadetblue;
}
.p2{
    background-color:lawngreen;
    color: blueviolet;
}
.p3{
    background-color: darkgreen;
    color: yellow;
}
.p4{
    background-color: indianred;
    color: slateblue;
}
.p5{
    background-color: turquoise;
    color: peru;
}